body{
    font-family: Tahoma;
    box-sizing: border-box;
    font-size: 12 px;
 
}

.container-fluid{
    padding: 0;
}



.shop-menu {
    list-style-type: none;
    width: 40%;
    margin: 0px;
}

.bi-bag {
    font-size: 20px;
    border: none;
  
}

.add-cart{
    background-color: #fff;
}

.shop-banner {
    height: 400px;
    position: relative;
    background: url("photos/banner-photo.jpg") no-repeat center center/cover;
}

.shop-banner p:first-child{
    color: #fff;
    position: absolute;
    top: 40%;
    left: 48%;
    font-size: 30px;
    font-weight: bold;
}

.shop-banner p:nth-child(2){
    color: #fff;
    position: absolute;
    top: 50%;
    left: 40%;
    font-size: 20px;
    font-weight: bold;
}

.categories{
    list-style-type: none;
    
}

.categories li{
    color: #848282;
}

.clothes-options {
    height: 400px;
    width: 100%;
    margin-bottom: 10px;
}

.product-image {
    height: 110px;
    width: 37%;
}

.dropdown-menu {
    width: 330px;
}

.viewcart, .checkout {
    background-color: #000;
    color: #fff;
    border-radius: 20px;
    width: 33%;
    height: 40px;
}

.remove-product{
    display: block;
    border: 10px;
    margin-top: 20px;
}

.empty-cart{
    color: rgb(243, 63, 63);
}

.cart-clothes-options{
    height: 120px;
    width: 138px;
    margin: 20px;
}

.coupon-code{
    border-radius: 10px;
}

.cart-product-details{
    border: 1px #b3b0b0 solid ;
    border-bottom: 0px;
}

.bottom-border{
    border-bottom: 1px #b3b0b0 solid;
}

.product-name-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact{
    background-color: #fafafa;
    padding: 18px;
    border-radius: 3px;
}

.name-info, .email-info, .mobile-info{
    width: 45%;
}

.contact-message{
    height: 90px;
    width: 55%;
}


.send-message{
    border-radius: 5px;
    font-size: 20px;
    color: #fff;
    background-color: #000;
}


.post-image{
    width: 30%;
    height: 70%;
    border-radius: 4px;
}

.buttonload{
    color: #fff;
    background-color: #000;
    border-radius: 20px;
    font-size: 20px;
    width: 76px;
    height: 35px;
}

.customer-review-info{
    background-image: linear-gradient(to right, #e3e3e3 , #848b94);
    border-radius: 5px;
    box-shadow: 3px 6px #b9b8b8;
    height: 230px;
    margin: 5px;
    padding: 0;
}

.delete-button, .edit-button{
    background-color: #000;
    border-radius: 5px;
    color: #fff;
    width: 25%;
    height: 40px;
}

.customer-name{
    width: 50%;
}

.team-image{
    width: 100%;
    height: 170px;
    border-radius: 5px 5px 0 0;
}

.team-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-name,.user-email{
    width: 100%;
    text-align: center;
    background-color: #e3e3e3;
}


.user-email{
    border-radius: 0 0 5px 5px;
}

